<LocalizationObserver>
    ...
    <Localization>{l('I am component')}</Localization>
    ...
    <Localization>{nl('Remove %d object', 'Remove %d objects', objectsCount)}</Localization>
    ...
</LocalizationObserver>